<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.extremexp.eu/dsl/XDSL"
			class = "eu.extremexp.dsl.xDSL.XDSLPackage"
			genModel = "model/generated/XDSL.genmodel" />
	</extension>
</plugin>
